@charset "utf-8";

html {
    width : 100%;
    height : 100%;
}

.zzim-menu {
    margin: 0 0 30px;
}

.zzim-menu .position > ul > li {
    position: relative;
    z-index: 10;
}

.zzim-menu .position > ul > li > a {
    display: block;
    padding: 12px 20px 12px 9px;
    color: #2e2e2e;
    font-size: 14px;
    font-weight: bold;
    word-spacing: -1px;
    text-decoration: none;
}

li {
    list-style: none;
}

.zzim-menu .position > ul > li > a:hover, .zzim-menu .position > ul > li.selected > a, .zzim-menu .position > ul > li.on > a {
    color: #008bcc;
}

.zzim-menu .sub-category ul {
    position: relative;
}

.search-header {
    float: right;
    margin: -50px 0 0;
}

.search-header fieldset {
    border: 1px solid #d9d9d9;
    border-radius: 2px;
}

.search-header #keyword {
    width: 143px;
    height: 32px;
    padding: 0 0 0 9px;
    border: 0;
    line-height: 32px;
    font-size: 12px;
    color: #7c8389;
    background: #fff;
}

.search-header fieldset .autoDrop {
    display: none;
    border: 1px solid #565960;
    position: absolute;
    width: 187px;
    text-align: left;
    background: #fff;
    z-index: 20;
    overflow: hidden;
    overflow-y: auto;
    max-height: 100px;
}

.search-header fieldset .autoDrop li a {
    display: block;
    padding: 6px 10px;
    font-size: 11px;
    color: #1c1c1c;
    font-family: GulimChe,Gulim;
}

.search-header fieldset .autoDrop li a:hover, .search-header fieldset .autoDrop li.selected a {
    text-decoration: none;
    color: #fff;
    background: #a1a4ae;
}

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, img {
    margin: 0;
    padding: 0;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, button, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    background: none;
}

input, select, textarea {
    font-size: 100%;
    color: #353535;
    vertical-align: middle;
}

body {
    min-width: 1260px !important;
    font-family: 75% Montserrat, Pretendard, Noto Sans KR, verdana, gulim, dotum !important;
    color: #0a1d35;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    text-rendering: optimizeLegibility;
    text-align: center;
    background-color: #fff;

}


.header-wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 1920px;
    min-width: 1260px;
    background-color: #fff;
    text-align: center;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

strong, b {
    font-weight: bold;
}


img, fieldset {
    border: none;
    vertical-align: top;
}

input, textarea, select {
    margin: 0px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}


select {
    box-sizing: border-box;
    height: 40px !important;
    padding: 0 !important;
    padding-left: 15px !important;
    border: none !important;
    border-radius: 0 !important;
    border: rgba(21, 19, 17, 0.15) solid 1px !important;
    background-color: #fff;
    background-image: url("//brownhaus.co.kr/images/icon_select.svg") !important;
    background-size: 40px;
    background-position: right 0 top -3px;
    background-repeat: no-repeat;
    font-size: 15px !important;
    color: #151311 !important;
    line-height: 38px !important;
    -webkit-appearance: none;
    /* 화살표 없애기 for chrome*/
    -moz-appearance: none;
    /* 화살표 없애기 for firefox*/
    appearance: none /* 화살표 없애기 공통*/
}


input[type=text], input[type=password] {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border-radius: 0;
    border: rgba(21, 19, 17, 0.15) solid 1px;
    padding-left: 15px;
    font-size: 15px;
    font-weight: 400;
    color: #161412;
    line-height: 38px;
    text-align: left;
    letter-spacing: -0.5px;
}

input[type=text]::placeholder, input[type=password]::placeholder {
    color: #161412;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #c1c1c1;
}

a {
    text-decoration: none;
    color: #000;
}


/* Montserrat Font Faces */
@font-face {
    font-family: 'Montserrat';
    src: url("//brownhaus.co.kr/font/Montserrat-Thin.woff") format('woff');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url("//brownhaus.co.kr/font/Montserrat-ExtraLight.woff") format('woff');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url("//brownhaus.co.kr/font/Montserrat-Light.woff") format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url("//brownhaus.co.kr/font/Montserrat-Regular.woff") format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url("//brownhaus.co.kr/font/Montserrat-Medium.woff") format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url("//brownhaus.co.kr/font/Montserrat-SemiBold.woff") format('woff');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url("//brownhaus.co.kr/font/Montserrat-Bold.woff") format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url("//brownhaus.co.kr/font/Montserrat-ExtraBold.woff") format('woff');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url("//brownhaus.co.kr/font/Montserrat-Black.woff") format('woff');
    font-weight: 900;
    font-display: swap;
}

/* Pretendard Font Faces */
@font-face {
    font-family: 'Pretendard';
    src: url("//brownhaus.co.kr/font/Pretendard-Thin.woff") format('woff');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url("//brownhaus.co.kr/font/Pretendard-ExtraLight.woff") format('woff');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url("//brownhaus.co.kr/font/Pretendard-Light.woff") format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url("//brownhaus.co.kr/font/Pretendard-Regular.woff") format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url("//brownhaus.co.kr/font/Pretendard-Medium.woff") format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url("//brownhaus.co.kr/font/Pretendard-SemiBold.woff") format('woff');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url("//brownhaus.co.kr/font/Pretendard-Bold.woff") format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url("//brownhaus.co.kr/font/Pretendard-ExtraBold.woff") format('woff');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url("//brownhaus.co.kr/font/Pretendard-Black.woff") format('woff');
    font-weight: 900;
    font-display: swap;
}