<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=], initial-scale=1.0">
    <title>찜린더</title>
</head>
<body>
    <div id="contents-wrapper">
        <div class="wrapper">
            <div id="footer" class="footer-wrapper">
                <div class="footer-inner-wrapper">
                    <div class="footer-area">
                        <div class="footer-membership">
                            <span>ABOUT</span>
                        </div>
                        <h3 class="zzimlendar-span">고객센터</h3>
                        <div class="footer-tel">
                            <p>영업일 기준 : 09~18시 / 점심시간 12~14시<br>
                                휴무일 : 법정 휴무일, 토요일, 공휴일</p>
                            <span>02-000-0000</span>
                        </div>
                    </div>
                    <div class="footer_area">
                        <div class="footer-menu">
                            <h3 class="zzimlendar-span">하단메뉴</h3>
                            <ul>
                                <li class="linebox footer-line">
                                    <ul>
                                        <li><strong>회사명 : (주)찜린더더</strong></li>
                                        <li>대표자 : 홍길동</li>
                                        <li>주소 : 한성대학교 </li>
                                        <li>팩스 : 02-000-0000</li>
                                        <li>사업자등록번호 : 000-00-00000 <a href="#none" onclick="window.open('', 'bizCommPop', 'width=750, height=950;');return false;">[사업자정보확인]</a></li>
                                        <li>통신판매업 신고번호 : 2025-0000-0000</li>
                                        <li>개인정보보호책임자 : 홍길동 <a href="mailto:"></a></li>
                                <!-- <li>이메일 : <a href="mailto:zzimlendar@gmail.net">zzimlendar@gmail.net</a></li> -->
                                    </ul>
                                </li>
                                <li class="linebox footer-line">
                                    <ul>
                                        <li><a href="/member/privacy.html">개인정보처리방침</a></li>
                                        <li><a href="/member/agreement.html">이용약관</a></li>
                                        <li><a href="/about/contact.html">오시는 길</a></li>
                                        <li><a href="/faq/list.html">자주 묻는 질문</a></li>
                                    </ul>
                                </li>
                                <li class="linebox footer-line">
                                    <ul>
                                        <li>예금주 : 찜린더</li>
                                        <li>우리은행 : 0000-000-000000</li>
                                        <li>국민은행 : 111111-11-111111</li>
                                        <li>신한은행 : 222-222-222222</li>
                                        <li>기업은행 : 333-333333-33-333</li>
                                        <li>농협 : 444-4444-4444-44</li>
                                    </ul>
                                </li>
                                <li class="linebox">
                                    <ul>
                                        <li><a href="/myshop/index.html">마이페이지</a></li>
                                        <li><a href="/myshop/coupon/coupon.html">쿠폰</a></li>
                                        <li><a href="/myshop/board_list.html">맛집 리뷰</a></li>
                                        <li><a href="/myshop/board_list.html">찜린더</a></li>
                                        <li><a href="/myshop/wish_list.html">내 찜 목록</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer_area">
                        <ul class="footer-copyright">
                            <li>
                                COPYRIGHT © <strong>ZZIMLENDAR</strong>. ALL RIGHTS RESERVED.
                            </li>
                        </ul>
                        <ul class="footer-by">
                            <li>POWERED BY <a href="https://www.figma.com/" target="_blank">FIGMA</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>