<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>찜린더</title>
    <link rel="stylesheet" type="text/css" href="//optimizer.poxo.com/css/common/27f65f13d65624198b9d0001bceb94548239d4a9/1735192575" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//optimizer.poxo.com/css/brownhaus1/4b8fb60dc765631fb54535583f9d871520e65bc7.ba907aad2544325f5f061c68c6ee27de/1729841845" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/default-common/default-common.css">
    <link rel="stylesheet" href="/static/css/fix/header.css">
</head>
<body>
    <div class="header-wrapper">
        <header id="header">
            <div class="header-all-Wrapper">
                <div class="header-inner-wrapper">
                    <div class="zzimlendar-logo">
                        <a href=""> <!--메인 페이지 이동-->
                            <span class="zzimlendar-span">찜린더</span>
                        </a>
                    </div>
                    <div class="zzim-menu"> 
                        <div id="category" class="zzim-menubar">
                            <ul class="zzim-mainbar">
                                <li name="find-best-restaurant">
                                    <a href="">맛집 찾기</a> <!--맛집 찾기 페이지 이동-->
                                </li>
                                <li name="theme">
                                    <a href="">테마</a> <!--테마 페이지로 이동-->
                                 </li>
                            </ul>
                            <ul class="zzim-mainbar">
                                <li name="zzimlendar"><a href="">찜린더</a></li> <!--찜린더 페이지 이동-->
                                <li name="my-best-restaurant-list"><a href="">내 맛집 목록</a></li> <!--내 맛집 목록 페이지 이동-->
                                <li name="etc"><a href="">보류</a></li> <!--보류-->
                            </ul>
                        </div>
                    </div>
                    <div class="zzim-nav">
                        <div class="utility-bar-icon">
                            <ul>
                                <li><button type="button" class="search-btn"><i class="zzim-icon search"></i><span class=zzimlendar-span>검색</span></button></li>
                                <li><a href=""><i class="zzim-icon mypage"></i><span class="zzimlendar-span">마이페이지 
                                </span></a></li> <!--마이 페이지 이동-->
                                <li>
                                    <a href="" class="login-btn">LOGIN</a> <!--로그인 페이지로 이동-->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
</body>
</html>