<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/default-common/default-common.css">
    <link rel="stylesheet" href="/static/css/mainpage/mainpage.css">
    <!-- script 부분 -->
    <script src="/static/js/mainpage/maingpage.js"></script>
    <title>찜린더</title>
</head>
<body id="main">
    <div id="main-wrapper">
        <div id="main-contents" class="contents-main">
            <div class="wrap">
                <div class="common-title">
                    <img src="/static/image/mainpage/title.png"> <!--페인페이지 제목 이미지 들어가야됨-->
                </div>
                <div class="common-hero auto">
                    <div class="common-space">
                        <i class="a">
                            <i class="b">
                                <i class="c">

                                </i>
                            </i>
                        </i>
                    </div>
                    <div class="common-slide carousel loaded drag">
                        <div class="stage-outer"> <!--메인 페이지에서 슬라이더-->
                            <div class="stage" style="transition: 1.4s; width: 9569px; transform: translate3d(-3189px, 0px, 0px);">
                                <div class="stage-item cloned" style="width: 1594.67px;"> <!--cloned에서 active center로 클래스가 바뀌면서 이 컨텐츠가 나타남남-->
                                    <div class="item">
                                        <div class="common-text"> 
                                            <h3>MONTHLY ZZIMLENDAR</h3>
                                            <p> 찜린더 이달의 최고의 맛집으로 선정된<br> <strong>한성 맛집</strong></p>
                                        </div>
                                        <div class="common-picture"> <!--누르면 그 페이지로 이동하게 하는 a태그가 있음-->
                                            <a href="">
                                                <img src="/static/image/mainpage/1.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="stage-item cloned" style="width: 1594.67px;">
                                    <div class="item">
                                        <div class="common-text">
                                            <h3>MONTHLY BEST REVIEW RESTAURANT</h3>
                                            <p> 이달의 리뷰 1등으로 선정된 <br><strong>준호 레스토랑</strong></p>
                                        </div>
                                        <div class="coomon-picture"> <!--누르면 그 페이지로 이동하게 하는 a태그가 있음-->
                                            <a href="">
                                                <img src="/static/image/mainpage/2.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="stage-item cloned"style="width: 1594.67px;">
                                    <div class="item">
                                        <div class="common-text">
                                            <h3>ZZIM COMMAND</h3>
                                            <p> 찜린더 추천하는 이달의 맛집 <br><strong>상우포차</strong></p>
                                        </div>
                                        <div class="coomon-picture"> <!--누르면 그 페이지로 이동하게 하는 a태그가 있음-->
                                            <a href="">
                                                <img src="/static/image/mainpage/3.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="stage-item cloned" style="width: 1594.67px;">
                                    <div class="item">
                                        <div class="common-text">
                                            <h3>ZZIM TODAY</h3>
                                            <p> 오늘 알아볼 맛집<br> <strong>규게업</strong></p>
                                        </div>
                                        <div class="coomon-picture"> <!--누르면 그 페이지로 이동하게 하는 a태그가 있음-->
                                            <a href="">
                                                <img src="/static/image/mainpage/4.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="stage-item cloned" style="width: 1594.67px;">
                                    <div class="item">
                                        <div class="common-text">
                                            <h3>ZZIM NEWS</h3>
                                            <p> 찜뉴스 <br><strong>뉴스 맛집</strong></p>
                                        </div>
                                        <div class="coomon-picture"> <!--누르면 그 페이지로 이동하게 하는 a태그가 있음-->
                                            <a href="">
                                                <img src="/static/image/mainpage/5.png" alt="">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nav-btn">
                            <button type="button" role="presentation" class="slide-prev-btn"><span aria-label="Previous"></span></button>
                            <button type="button" role="presentation" class="slide-next-btn"><span aria-label="Next"></span></button>
                        </div>
                        <div class="slide-dots">
                            <button role="button" class="slide-dot"><span></span></button> <!--active 클래스 만들어짐-->
                            <button role="button" class="slide-dot"><span></span></button>
                            <button role="button" class="slide-dot"><span></span></button>
                            <button role="button" class="slide-dot"><span></span></button>
                            <button role="button" class="slide-dot"><span></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>